.mainSideComponent{
  padding: 20px;
  background: rgba(255,255,255,1);
}

.mainSideComponent h2{
  margin-bottom: 0px;
}

.description{
  font-size: 10px;
  line-height: 1;
  color: rgb(114 117 125 / 45%);
  margin-bottom: 20px;
}

.searchIconInput{
  padding: 15px;
  background: #1890ff;
  border-radius: 33%;
}

.ant-input-affix-wrapper{
  height: 40px;
  border: 1px solid #d9d9d9b0;
}

.repeateIcon{
  height: 30px;
  margin-top: 4px;
}
