.gadget-card {
  padding: 1em;
}
.gadget-card .active {
  background-color: #3f6cff !important;
}
.gadget-card .MuiPaper-root {
  padding: 1.2em 1em;
  min-width: 250px;
  text-align: left;
  border-radius: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.gadget-card .active .text-wrapper {
  color: white !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.gadget-card .active .icon {
  background: white !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.gadget-card .text-wrapper {
  margin-left: 4em;
}

.gadget-card .text-wrapper .gadget-alias {
  font-weight: 400 !important;
  font-size: 0.9em;
}
.gadget-card .text-wrapper .gadget-status {
  font-weight: 300 !important;
  font-size: 0.88em;
}

.gadget-card .icon {
  background: #bec4d7;
  width: 30px;
  height: 30px;
  float: left;
  border-radius: 100%;
  position: relative;
  top: 5px;
}

.gadget-card .gadget-control-compact-switch {
  float: right;
}

.gadget-card .gadget-control-compact-binarySensor {
  float: right;
  position: relative;
  top: -35px;
  height: 0px;
}

.gadget-card .gadget-control-compact-sensor {
  float: right;
  position: relative;
  top: -27px;
  height: 0px;
}
