.dashboard-page {
  margin: 0 !important;
  padding: 0 !important;
  background: #0d2450;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.dashboard-page .flex-grow {
  flex-grow: 1;
  min-width: 500px;
}
.dashboard-page .pane-grid-item {
  max-width: 180px !important;
}
.MuiGrid-item {
  height: 100%;
}
.MuiGrid-container {
  height: 100%;
}

h1.medium-title {
  font-size: 1.3em !important;
  text-align: left;
  font-weight: 300 !important;
}

h1.medium-title {
  font-size: 1.3em !important;
  text-align: left;
  font-weight: 700 !important;
  color: #373840;
}
h2.medium-subtitle {
  font-size: 0.8em !important;
  text-align: left;
  font-weight: 300 !important;
  color: #c7cbdc;
}
.pane-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  height: 93%;
  border-radius: 40px 0 0 0;
  background: white;
}
.pane-wrapper .pane-detail-wrapper {
  width: 150px;
  transition: width 0.4s;
}
.pane-wrapper .active-area-wrapper {
  width: 100%;
}
.pane-wrapper .pane-detail-wrapper.open {
  width: 450px;
}
.pane-wrapper .group-sel-wrapper {
  width: 190px;
  min-width: 190px;
}
