.pane-detail {
  text-align: center;
}

.pane-detail .header {
  text-align: left;
  font-size: 1.3em;
}

.pane-detail .sub-header {
  text-align: left;
  font-size: 0.9em;
  margin-top: -10px;
}

.pane-detail .frozen {
  color: #dce0eb;
  font-weight: 300;
  font-size: 1em;
  margin-top: 15em;
}
