.pane-gadget-group-selection {
  height: 100%;
  overflow-y: scroll;
  position: relative;
}
.pane-gadget-group-selection::-webkit-scrollbar {
  display: none;
}

.pane-gadget-group-selection .header {
  text-align: left;
  font-size: 1.3em;
}

.pane-gadget-group-selection .sub-header {
  text-align: left;
  font-size: 0.9em;
  margin-top: -10px;
}
