.rightSideComponent{
  padding: 20px;
  background: rgba(255,255,255,1);
}

.mainSideComponent h2{
  margin-bottom: 0px;
}

.description{
  font-size: 10px;
  line-height: 1;
  color: rgb(114 117 125 / 45%);
  margin-bottom: 0px;
}

.circularProgressbarWithChildren{
  flex-direction: row-reverse;
}

.tempDeg{
  font-size: 24px;
  color: #1890ff;
}

.celcius{
  font-size: 10px;
  position: relative;
  top: -10px;

}
.thermometer{
  width: 30px;
}

.progressCircleContainer{
  padding: 10px;
}

.chartLabels{
  display: flex;
  color: rgb(114 117 125 / 45%);
}

.topCol{
  text-align: center;
  color: rgb(114 117 125 / 45%);
}

.range{
  margin-bottom: 40px;
  text-align: center;
  color: rgb(114 117 125 / 45%);
}
.rangeh2 h2{
  margin-bottom: 0px;
  color: rgb(114 117 125 / 85%);
}

.rangeh5 h5{
  margin-bottom: 0px;
  color: rgb(114 117 125 / 45%);
}

.lastUpdate{
  margin-bottom: 20px;
  color: rgb(114 117 125 / 45%);
  margin-left: 18px;
}

.lastUpdate h1 {
  margin-bottom: 0px;
  color: rgb(114 117 125 / 85%);
  width: 100%;
}

.lastUpdate h5{
  margin-bottom: 0px;
  color: rgb(114 117 125 / 45%);
  width: 100%;
}

.sensorStatus{
  margin-bottom: 20px;
  color: rgb(114 117 125 / 45%);
  margin-left: 18px;
}

.sensorStatus h1 {
  margin-bottom: 0px;
  color: #1890ff;
  width: 100%;
}

.sensorStatus h5{
  margin-bottom: 0px;
  color: rgb(114 117 125 / 45%);
  width: 100%;
}

.ant-btn-lg{
  width: 80%;
  height: 50px;
  border-radius: 9px;
  font-size: 18px;
  font-weight: 600;
}
