.controls-hero-button {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  box-sizing: border-box;
  background-color: #0083ff;
  box-shadow: none;
  border-radius: 15px;
  transition: box-shadow 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
  user-select: none;
}

.controls-hero-button:hover {
  box-shadow: 0px 0px 30px 5px rgba(0, 76, 148, 0.3);
}

.controls-hero-button .label {
  color: white;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4),
    0px 0px 10px rgba(255, 255, 255, 0.6);
  font-weight: 400;
}

.controls-hero-button.disabled {
  background-color: #f3f6ff !important;
  cursor: not-allowed !important;
}

.controls-hero-button.disabled:hover {
  box-shadow: none;
}

.controls-hero-button.disabled .label {
  color: #cdd1da;
}
