@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

html,
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden;
  min-width: 800px;
  min-height: 800px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.black-medium {
  color: #373840;
}
.light-grey {
  color: #131420;
}

.pane {
  height: 100vh;
  float: left;
  overflow: hidden;
}

h1.header {
  font-weight: 400 !important;
}
.content-wrapper {
  padding: 2em 2em;
}
h2.sub-header {
  font-weight: 300 !important;
  color: #bec4d7;
}
